.info-column {
  margin-left: 20px;
  padding-left:10px;
  display: inline-block;
  top: 13px;
  position: relative;
  /*width: 40%;*/
}
.info-column i {
  position: relative;
  top: 5px;
  padding-right: 5px;
}

.info-column li {
  margin-bottom: 14px;
}

